[submodule "debt-register-web-client"]
	path = debt-register-web-client
	url = https://github.com/douglas-martins/debt-register-web-client.git
[submodule "debt-register-api"]
	path = debt-register-api
	url = https://github.com/douglas-martins/debt-register-api.git
